header{
    background-color: #ffffff;
}
h1{
    font-family:'Montserrat';
}
.myheadacordion{
    font-size: 10;
}
.code{
    font-family:'Fira Code';
}
.note{
    font-family: 'Montserrat';
    font-size: 14px;
}
p {
    font-family: 'Montserrat';
}
.titulopractica{
    background-color: #F0BE24;
    font-family: 'Fira Code';
}
.enunciado{
    border-bottom: 5px #F0BE24;
    border-style: double;
    border-top:transparent;
    border-right: transparent;
    border-left: transparent;
    font-family: 'Fira Code';
    font-weight: 1000;
    background-color:#f0bd244d;
}
.ejercicio{
    font-family: 'Fira Code';
    font-size: 16px;
    font-weight: 2000;
    border-bottom: 2px #F0BE24;
    border-style:dashed;
    border-top:transparent;
    border-right: transparent;
    border-left: transparent;
}
.my-active{
    background-color: #F0BE24;
    border-radius: 15px;
}
.my-btn-nav{
    margin: 0 10px;
}
.temas{
    width: 100%;
    flex-wrap: wrap;
    min-width: 300px;
    justify-content: center;
}
.item{
    width: 23%;
    min-width: 300px;
}
.item p{
    font-size: 11px;
}
.item a{
    background-color: #F0BE24;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    color:#000000;
}
.item a:hover{
    font-weight: 800;
}
